body {
    margin:0;
   }
  #div-pro-list{
   display: flex;
   flex-direction: row;
   flex-wrap: wrap;
   }
  .box-pro{
   height: 350px;
   width:300px;
   }
  .size-img{
   height:180px;
   width:auto;
   margin-left: 30px;
   margin-top:10px;
   }
  .box-description{
   height: 100px;
   width:auto;
   background-color: rgb(251, 248, 248);
   margin-left:20px;
   margin-top:10px;
   }
  .margin-des{
    margin-left: 10px;
   padding-top:5px;
   }
  .box-pro{
   margin:auto;
   margin-top:10px;
   }
   .phai{
      text-align: right;
      font-size: 30px;
   }